body {width: 400px;
	font-family: Arial, Helvetica;
	border: 2px solid blue;
	border-radius: 25px;
	margin: 10px auto;}

a {color: black;
	text-decoration: none;}
	
a:hover {color: black;
	text-decoration: none;}
	
a:active {color: black;
	text-decoration: none;
	font-weight: bold;}
	
a:visited {color: black;
	text-decoration: none;}
	
#navWrapper {text-align: center;
				width: 726px;
				margin: 20px auto;}
	
.navButton {text-align: center;
			width: 220px;
			margin-left: 20px;
			padding: 10px 0px 10px 0px;
			float: left;
			border: 1px solid blue}

.clearfloat {clear:both;}