body {width: 800px;
	border: 2px solid blue;
	border-radius: 25px;
	margin: 10px auto auto;}
	
.navButtonv {list-style-type: none;
			width: 200px;
			margin: 10px auto auto;
			float: center;}